*.pt.py
*.pyc
*.swp
*~
/.Python
/.cache/
/.coverage
/.idea
/.installed.cfg
/.pip.log
/.tox
/Kotti.db*
/Kotti.egg-info/
/bin/
/build/
/develop-eggs/
/dist/
/docs/_build/
/eggs/
/include/
/lib/
/local
junit*.xml
*.sublime-*
bower_components
node_modules
__pycache__

filestore
share
