[buildout]
parts = 
    Kotti
    test
    
develop = .

[Kotti]
recipe = zc.recipe.egg
eggs =
    PasteScript
    Kotti

[test]
recipe = pbp.recipe.noserunner
eggs = pbp.recipe.noserunner ${Kotti:eggs}
working-directory = ${buildout:directory}/kotti
defaults =
    --detailed-errors
    --nocapture
    --cover-package=kotti
    --with-coverage
    --cover-erase
    --with-doctest
    --doctest-tests
    --doctest-extension=txt
