alembic==1.4.3
anyascii==0.1.7
appdirs==1.4.4
Babel==2.9.0
Beaker==1.11.0
bleach==3.3.0
bleach-allowlist==1.0.3
Chameleon==3.8.1
click==7.1.2
colander==1.8.2
deform==2.0.14
docopt==0.6.2
fanstatic==1.1
filedepot==0.8.0
FormEncode==2.0.0
html2text==2020.1.16
hupper==1.10.2
iso8601==0.1.13
js.angular==1.1.4
js.bootstrap==3.3.4
js.deform==2.0.14
js.fineuploader==5.14.0
js.html5shiv==3.7.3
js.jquery==1.9.1
js.jquery-form==3.9
js.jquery-maskedinput==1.4.1
js.jquery-maskmoney==3.0.2
js.jquery-sortable==0.9.13
js.jquery-tablednd==0.4
js.jquery-timepicker-addon==1.5.3
js.jqueryui==1.10.3
js.jqueryui-tagit==2.0.24.post2
js.modernizr==2.5.3.1
js.select2==4.0.4.post1
js.tinymce==4.5.4
lingua==4.14
Mako==1.1.3
MarkupSafe==1.1.1
packaging==20.4
PasteDeploy==2.1.1
peppercorn==0.6
plaster==1.0
plaster-pastedeploy==0.7
polib==1.1.0
py-bcrypt==0.4
pyparsing==2.4.7
pyramid==1.10.5
pyramid-beaker==0.8
pyramid-chameleon==0.3
pyramid-deform==0.2
pyramid-mailer==0.15.1
pyramid-tm==2.4
pyramid-zcml==1.2.0
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.4
repoze.lru==0.7
repoze.sendmail==4.4.1
repoze.workflow==1.1
repoze.zcml==1.1
shutilwhich==1.1.0
six==1.15.0
SQLAlchemy==1.3.20
SQLAlchemy-Utils==0.36.8
transaction==3.0.0
translationstring==1.4
Unidecode==1.1.1
venusian==3.0.0
waitress==1.4.4
webencodings==0.5.1
WebOb==1.8.6
zope.component==4.6.2
zope.configuration==4.4.0
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.0.1
zope.i18nmessageid==5.0.1
zope.interface==5.2.0
zope.proxy==4.3.5
zope.schema==6.0.0
zope.sqlalchemy==1.3
