alembic==1.7.7
anyascii==0.3.1
Babel==2.10.1
bcrypt==3.2.2
Beaker==1.11.0
bleach==4.1.0
bleach-allowlist==1.0.3
cffi==1.15.0
Chameleon==3.10.0
click==8.1.3
colander==1.8.3
deform==2.0.14
docopt==0.6.2
fanstatic==1.2
filedepot==0.8.0
FormEncode==2.0.1
html2text==2020.1.16
hupper==1.10.3
iso8601==1.0.2
js.angular==1.1.4
js.bootstrap==3.3.4
js.deform==2.0.14
js.fineuploader==5.14.0
js.html5shiv==3.7.3
js.jquery==1.9.1
js.jquery-form==3.9
js.jquery-maskedinput==1.4.1
js.jquery-maskmoney==3.0.2
js.jquery-sortable==0.9.13
js.jquery-tablednd==0.4
js.jquery-timepicker-addon==1.5.3
js.jqueryui==1.10.3
js.jqueryui-tagit==2.0.24.post2
js.modernizr==2.5.3.1
js.select2==4.0.4.post1
js.tinymce==4.5.4
lingua==4.15.0
Mako==1.2.0
MarkupSafe==2.1.1
packaging==21.3
PasteDeploy==2.1.1
peppercorn==0.6
plaster==1.0
plaster-pastedeploy==0.7
polib==1.1.1
pycparser==2.21
pyparsing==3.0.8
pyramid==1.10.8
pyramid-beaker==0.8
pyramid-chameleon==0.3
pyramid-deform==0.2
pyramid-mailer==0.15.1
pyramid-tm==2.5
pyramid-zcml==1.2.0
pytz==2022.1
repoze.lru==0.7
repoze.sendmail==4.4.1
repoze.workflow==1.1
repoze.zcml==1.1
shutilwhich==1.1.0
six==1.16.0
SQLAlchemy==1.4.36
SQLAlchemy-Utils==0.38.2
transaction==3.0.1
translationstring==1.4
Unidecode==1.3.4
venusian==3.0.0
waitress==2.1.1
webencodings==0.5.1
WebOb==1.8.7
zope.component==5.0.1
zope.configuration==4.4.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.1.0
zope.i18nmessageid==5.0.1
zope.interface==5.4.0
zope.schema==6.2.0
zope.sqlalchemy==1.6
