#header {
    background-color: #edc06b;
}

.message {
    background-color: #bbb;
    padding: 0.5em 1em;
    margin: 0.5em 2em 1em;
    text-align: center;
    font-weight: bold;
}

.message.success {
    background-color: #b5cc7a;
}

.message.info {
    background-color: #edc06b;
}

.message.error {
    background-color: #ff614e;
}

/* Form styles */

div.form {
    width: 30em;
}

form ul {
    margin: 0;
    padding: 0;
    list-style-stype: none;
}

form li {
	display: block;
    margin: 1em;
}

form li.error {
    padding: 1em;
}

form label.desc {
    display: block;
    margin: 0 0 0.5em 0;
    font-weight: bold;
}

form fieldset {
    background-color:  #eee;
}

.inline{
	margin: 0px;
	padding: 0px;
}

.errorLi {
    display: none;
}

form li.error {
    background-color: #ff614e;
}
