/** Put here CSS that should apply to editor screens only. **/

body { padding-top: 40px; }

.input, input, textarea, select {
    width: 400px;
}

form.login label {
    width: 200px;
}

form.login div.input {
    margin-left: 220px;
}
